/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

main {
    max-width: 1170px;
    margin: 30px auto;
}


.text-color{
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.70);
    line-height: 1.5rem;
    font-weight: 400px;

}
.title-global{
    font-size: 2.6rem;
    color: #131318;
    font-weight: 800;
}
.main-button{
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 15px 30px;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
}

/* Nav/header Style Start Here */

/* .ham-burger{
    display: none;
} */
.primary-button {
    width: 172px;
    border-radius: 8px;
    background: #FF5400;
    font-size: 1rem;
    padding: 16px 30px;
    cursor: pointer;
}
header {
    padding: 40px 140px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 1.1rem;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.nav-title {
    font-size: 2.1rem;
    color: #131318;
}

nav span {
    color: #FF5400;
}

.header-icon {
    display: flex;
    gap: 1rem;
}

/* Section One Style Here */

.banner {
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 120px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.input-field {
    margin-top: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.input-field input {
    padding: 16px;
    border-radius: 8px;
    border: none;
    /* margin: 0 10px 10px 0; */
}


.banner-title {
    font-size: 4rem;
    color: #FFF;
    margin-bottom: 1.5rem;
}

.banner-description {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 30px;
    width: 650px;
}


/* Section Two Style Start */

.popular-tours-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
}
.popular-tours-section img{
    width: auto;
}


.popular-tours h3 {
    font-size: 2.5rem;

}
.popular-tours p{
    margin: 25px 0px;
}
.popular-tours li{
    margin-bottom: 20px;
    width: 500px;
}

/* Destination Style Start Here */

.destination-content{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.destination-content p{
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container img {
    width: 100%; 
    height: 300px;
    background-size: cover;
}

.location {
    font-size: 1.8rem; 
    color: #fff;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.destionation-area{
    display: flex;
    justify-content:space-between;
    gap: 25px;
    margin-bottom: 20px;
}
.img-1{
    width: 30%;
}
.img-2{
    width: 45%;
}
.img-3{
    width: 25%;
}
.img-4{
    width: 40%;
}
.img-6{
    width: 60%;
}
/* Section Four Style Start Here */

.choose-us-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.container-box{
    width: 550px;
    height: 250px;
    padding: 30px;
    border-radius: 16px;
}
.border-one{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.border-two{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.border-three{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 20px;
}
.container-box img {
    width: 64px;
    margin-bottom: 20px;
}

.container-box h3{
    margin-bottom: 20px;
}
.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Style Start Here */

footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
}
.footer-content .header-icon{
    align-items: center;
    justify-content: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-media img{
    width: 30px;
    margin: 5px;
}
.copyright {
    font-size: 0.8rem;
}
.footer-content span {
    color: #FF5400;
}
hr{
    margin: 30px 0;
}

/* Style End Here */


/* Responsive Start Here */

@media (max-width: 600px) {
    body{
        margin-right: 20px;
        margin-left: 20px;
    }
    .title-global{
        font-size: 1.2rem;
    }
    .text-color{
        font-size: 0.9rem;
    }
    header {
        padding: 30px 20px;
    }
    .nav-title{
        font-size: 1.2rem;
    }
    .header-icon img {
        width: 25px;
        height: 25px;
    }

    nav > ul {
        display: none;
    }

    .banner {
        padding: 40px 20px;
    }

    .banner-title {
        font-size: 1.3rem; 
        margin-bottom: 1rem; 
    }

    .banner-description {
        font-size: 0.9rem;
        width: auto;
        margin-bottom: 0;
    }

    .input-field input {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .primary-button{
        width: 100%;
    }
    /* Section TWo Responsive */
    .popular-tours-section {
        flex-direction: column;
        gap: 40px;
    }
    .popular-tours{
        width: 100%;
    }
    .popular-tours li{
        width: 100%;
    }
    .popular-tours-section img{
        width: 100%;
    } 
    .popular-tours h3{
        font-size: 1.2rem;
    }

    /* section three responsive */
    .destionation-area{
        flex-direction: column;
    }
    .image-container img{
        width: 335px;
        height: 176px;
    }
    .location{
        font-size: 1.2rem;
        font-weight: 800;
    }
    .destination-content{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .destination-content p{
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-1, .img-2, .img-3 ,.img-4 ,.img-6{
        width: 100%;
    }
    /* section four responsive */
    .choose-us-item{
        flex-direction: column;
    }
    .container-box{
        width: 100%;
        height: auto;
    }
}

/* Laptop Responsive Style */

@media (min-width:601px){
    .ham-burger{
        display: none;
    }
}