/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

main {
    max-width: 1170px;
    margin: 30px auto;
}

.primary-button {
    border-radius: 8px;
    background: #FF5400;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 30px;
    cursor: pointer;
}

/* Nav/header Style Start Here */

/* .ham-burger{
    display: none;
} */
header {
    padding: 40px 140px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 1.1rem;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.nav-title {
    font-size: 2.1rem;
    color: #131318;
}

nav span {
    color: #FF5400;
}

.header-icon {
    display: flex;
    gap: 1rem;
}

/* Section One Style Here */

.banner {
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 120px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.input-field {
    margin-top: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.input-field input {
    padding: 16px;
    border-radius: 8px;
    border: none;
    /* margin: 0 10px 10px 0; */
}


.banner-title {
    font-size: 4rem;
    color: #FFF;
    margin-bottom: 1.5rem;
}

.banner-description {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 30px;
    width: 650px;
}





/* Style End Here */


/* Responsive Start Here */

@media (max-width: 600px) {
    body{
        margin-right: 20px;
        margin-left: 20px;
    }
    header {
        padding: 30px 20px;
    }
    .nav-title{
        font-size: 1.2rem;
    }
    .header-icon img {
        width: 25px;
        height: 25px;
    }

    nav > ul {
        display: none;
    }

    .banner {
        padding: 40px 20px;
    }

    .banner-title {
        font-size: 1.3rem; 
        margin-bottom: 1rem; 
    }

    .banner-description {
        font-size: 0.9rem;
        width: auto;
        margin-bottom: 0;
    }

    .input-field input {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .primary-button{
        padding: 16px 100px;
    }
}

/* Laptop Responsive Style */

@media (min-width:601px){
    .ham-burger{
        display: none;
    }
}